.grid18 {
  display: grid;
  /* justify-content: center; */
  grid-template-columns: repeat(18, minmax(50px, 1fr));
  gap: 20px;
}

.postCard {
  width: 100%;
  margin: 0;
  border: 1px solid #e5e7eb;
  border-radius: 0;
  padding: 16px 16px;
}

.postdetailHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postdetailProfile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.postdetailProfileImgBox {
  width: 49px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 8px;
  background: #eee;
  flex-shrink: 0;
}

.postdetailProfileImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.postdetailProfileText {
  display: flex;
  flex-direction: column;
}

.postdetailProfileText h4,
.postdetailProfileText time {
  margin: 0;
}

.postdetailProfileText h4 {
  font-weight: 550;
  margin-bottom: 2px;
}

.postdetailProfileText time {
  font-size: 14px;
  color: #6b7280;
}

.postdetailRightActions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 6px;
}

.postdetailBtn {
  background: none;
  border: none;
  color: #8fa0a5;
  font-size: 14px;
  cursor: pointer;
}

.postdetailBtnSm {
  padding: 3px 8px;
  font-size: 12px;
}

.postTitle {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.4;
  margin: 8px 0;
}

.postdetailContent {
  font-size: 14px;
  line-height: 1.7;
  color: #111827;
  margin-bottom: 12px;
}


.postdetailContent {
  white-space: pre-wrap;
  word-break: break-word;
}

.postdetailCommentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postdetailCommentProfile {
  display: flex;
  align-items: center;
  gap: 6px;
}

.postdetailCommentPicture {
  width: 26px;
  height: 26px;
  border-radius: 5px;
}

.postdetailCommentText {
  font-size: 13px;
  font-weight: 500;
  color: #555;
  margin-bottom: 0px;
}

.postdetailCommentMainText {
  font-size: 16px;
  font-weight: 500;
  color: #555;
  margin-top: 5px;
}

.loadingOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  color: white;
  font-size: 18px;
}

.detailStatus {
  list-style: none;
  padding: 0;
  gap: 10px;
  margin-top: 16px;
  margin-bottom: 0px;
  display: flex;
}

.vote,
.comment,
.scrap {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  font-size: 13px;
  font-weight: 600;
}

.vote::before,
.comment::before,
.scrap::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: no-repeat center / contain;
}

.vote {
  color: #f91f15;
}

.vote::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%23F91F15' stroke-width='1.5'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M6.633 10.25c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V2.75a.75.75 0 01.75-.75 2.25 2.25 0 012.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23H5.904m10.598-9.75H14.25M5.904 18.5c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 01-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 9.953 4.167 9.5 5 9.5h1.053c.472 0 .745.556.5.96a8.958 8.958 0 00-1.302 4.665c0 1.194.232 2.333.654 3.375Z'/%3E%3C/svg%3E");
}

.comment {
  color: #5f9ea0;
}

.comment::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%235f9ea0' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M8 10h8M8 14h4M21 12c0 4.418-4.03 8-9 8a9.77 9.77 0 01-4-.8L3 20l1.2-3A7.8 7.8 0 013 12c0-4.418 4.03-8 9-8s9 3.582 9 8z'/%3E%3C/svg%3E");
}

.scrap {
  color: #ffc900;
}

.scrap::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%23ffc900' stroke-width='1.5'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z'/%3E%3C/svg%3E");
}

.spanBtns {
  display: flex;
  margin-top: 16px;
  gap: 10px;  
}

.voteSpan {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%23F91F15' stroke-width='1.5'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M6.633 10.25c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V2.75a.75.75 0 01.75-.75 2.25 2.25 0 012.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23H5.904m10.598-9.75H14.25M5.904 18.5c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 01-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 9.953 4.167 9.5 5 9.5h1.053c.472 0 .745.556.5.96a8.958 8.958 0 00-1.302 4.665c0 1.194.232 2.333.654 3.375Z'/%3E%3C/svg%3E");

  padding: 6px 12px 6px 33px;
  border-radius: 8px;
  color: #555555;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-position: left 12px center;
  background-size: 14px 14px;
}

.scrapSpanX {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%23ffc900' stroke-width='1.5'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z'/%3E%3C/svg%3E");

  padding: 6px 12px 6px 33px;
  border-radius: 8px;
  color: #555555;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-position: left 12px center;
  background-size: 14px 14px;
}

.scrapSpanO {
  padding: 6px 12px 6px 12px;
  border-radius: 8px;
  color: #555555;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  background-color: #eeeeee;
}