/* 페이지 스코프 */
.editpost .editpost-card {
  border-radius: 8px;
}

/* textarea: 글쓰기용(엔터 보이게) */
.post-content.editor {
  white-space: pre-wrap;
  word-break: break-word;
  line-height: 1.5;
  resize: vertical;
}

/* 썸네일 이미지 */
.editpost-thumb {
  object-fit: cover;
  height: 100px;
  width: 100%;
  cursor: pointer;
}

/* 이미지 추가 박스 */
.editpost-addbox {
  height: 100px;
  border: 2px dashed #000000ff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* + 아이콘 */
.editpost-addicon {
  width: 40px;
  opacity: 0.6;
}

.loading-overlay{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loading-box{
  background: white;
  padding: 16px 20px;
  border-radius: 12px;
  font-weight: 600;
}
